html,body ,P, h1 ,h2 ,h3, h4 ,h5, h6 ,dl ,ul ,ol, li ,dd, dt, form, tbody ,tfoot ,thead{
    padding:0;margin:0;
}
html,body{
    /* width:100%; */
    height:100%;
    /* font-size: 26.6vw; */
    background:#f0f2f5;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,th{
    font-size: 16px;
    font-weight: normal;
}
b,strong{
    font-weight: normal;
}
i,em{font-style: normal;}
li{list-style:none;}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.cb::after{
    content:".";
    display:block;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    height:0;
}
/* 最大屏幕分辨率为1280px */
@media (max-width: 1000px) {
	body{
        width:1536px;
    }
}
/*最小屏幕分辩率为960px 最大屏幕分辨率为1280px*/
@media (min-width: 1000px) and (max-width:1280px) {
    body{
        width:100%;
    }
	.vop_nav>div{
       padding: 0 10px;
       overflow: hidden;
       text-overflow:ellipsis;
       white-space: nowrap;
    }
    .vop_nav{
        margin:0 7% 0 7% !important;
    }
}
/*最小屏幕分辩率为1280px 最大屏幕分辨率为1536px*/
@media (min-width: 1280px) and (max-width: 1536px) {
	body{
        width:1536px;
    }
}
/* 最小屏幕分辨率为1536px */
@media (min-width: 1536px) {
	body{
        width:100%;
    }
}


/* 修改一些element样式 */
.el-collapse-item__header {
    background: #b9ced8;
    padding-left:15px;
}
.el-dialog__title{
    font-size: 14px;
}
.el-dialog{
    padding:0 15px;
    height:250px;
    width:400px;
}
.el-dialog__body{
    padding:0;
}
.el-collapse-item__wrap{
    background:#f0f2f5 ;
}
.gutter{
    display: none !important;
}
.el-date-range-picker__time-header{
  display:none !important;
  color:red
}